services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - api
    volumes:
      - resized_images:/usr/share/nginx/html/shared #we mount the shared volume directly into the nginx folder for easy access
  api:
    build: ./api
    expose:
      - "5000"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    expose:
      - "6379"

  worker:
    build: ./worker
    depends_on:
      - redis
    volumes:
      - resized_images:/shared
volumes:
  resized_images: